---
import MyLayout from '../layouts/MyLayout.astro';
import PageH1 from '../components/PageH1.astro';

const title = "About FEK.IO"
const description = 'vcxcvcxvx';
---
<MyLayout coverImage='/b24-3x.jpg' title={title}>
  <PageH1>About</PageH1>
  <div>
    <h2 class="text-lg font-bold">Need a iOS, Android or Node.js application</h2>
    <!-- <GatsbyImage image={data.file.childImageSharp.gatsbyImageData} alt="Me" style={{ float: 'left', boxShadow: '2px 2px 5px black', width: '7rem', height: '7rem', borderRadius: '50%', border:'1px solid orange', margin: '0.5rem' }}  /> -->
    {/* <Img fixed={data.file.childImageSharp.fixed} alt="Me" style={{ float: 'left', boxShadow: '2px 2px 5px black', width: '7rem', borderRadius: '50%', border:'1px solid orange', margin: '0.5rem' }} /> */}
{/* <img src={photoOfMe} alt="David Fekke" style={{ float: 'left', boxShadow: '2px 2px 5px black', width: '7rem', borderRadius: '50%', border:'1px solid orange', margin: '0.5rem' }} /> */}
<img src="./DavidFekke.jpg" alt="David Fekke" class="float-left m-1 drop-shadow-lg w-[7rem] h-[7rem] border-[1px] border-[#ffa500] rounded-full" />
<!-- style={{ float: 'left', boxShadow: '2px 2px 5px black', width: '7rem', borderRadius: '50%', border:'1px solid orange', margin: '0.5rem' }} -->
<p>This is the web site for David Fekke's mobile applications. David is a iOS, Android and Node.js developer. He also develops .NET, ColdFusion and Java web applications.</p>

<p>If you are looking for David's Powerpoint and presentation slides, you find them at this <a href="/slides">Link</a>.</p>

<p>If you are interested in custom application development, please contact me for rates.</p>
<br />
<p>
  You can find a copy of my <a href="/resume">Resume here</a>.
</p>
<p>
  Here are some <a href="/flight">Flight Training</a> resources I use.
</p>
<h3>Affiliations</h3>
<ul>
  <li>
    <strong><a href="https://www.jaxnode.com">JaxNode<a></strong>
  </li>
  <li>
  <strong><a href="http://jaxmug.com">JaxMUG</a></strong>
  </li>
  <li>
    <a href="https://craigpilots.org" name="">Criag Pilots Airport Association</a>
  </li>
</ul>

<h3>Jax Tech Meetups</h3>
<p><a href=`https://polyglotengineer.com`>Polyglot Engineer Channel</a> is a Youtube channel I created to show Software Engineers looking to learn a new language.</p>

 <h3>Aviation</h3>
<p>David is also a Commercial pilot and a licensed remote pilot in single engine and multi engine land aircraft (ASMEL).</p>

<p>This Web site is built using Astro.</p>
</div>
</MyLayout>