---
import MyLayout from '../layouts/MyLayout.astro';
const title = "Welcome to FEK.IO"
---
<MyLayout>
	<h1 class="text-6xl font-bold">{title}</h1>
	<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem orci, viverra non justo eu, euismod vestibulum nibh. Aenean mattis risus pretium pretium facilisis. Aliquam nec turpis eu dolor egestas sollicitudin. Duis imperdiet orci sit amet ipsum elementum, et euismod turpis feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Etiam quis tellus ultricies, efficitur eros vel, ornare nibh. Aliquam fermentum, nibh sed molestie ultricies, est ex finibus ante, nec imperdiet velit dui non sem. Nullam non pretium justo. Mauris volutpat eleifend erat, ac euismod orci placerat ac.
	</p>

	<p>
	Sed justo nisl, sollicitudin a viverra sed, sodales ac ante. Mauris consequat ultrices mi, id mattis sapien gravida sit amet. Integer pellentesque velit eu ipsum varius, quis lobortis nunc finibus. Duis non porta elit, eget aliquet felis. Sed scelerisque euismod mi. Integer ac lobortis velit, at facilisis quam. Phasellus bibendum, risus non posuere feugiat, augue est condimentum orci, laoreet accumsan nibh neque non lorem. Morbi sapien eros, faucibus at nunc sed, efficitur pulvinar eros.
	</p>
	<p>
	Suspendisse imperdiet varius mauris gravida ornare. Integer augue elit, molestie sit amet leo commodo, eleifend vulputate nisi. Donec condimentum condimentum sapien ut fringilla. Nullam efficitur imperdiet ex a accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean sed ex id eros placerat pellentesque quis in ex. Pellentesque tincidunt erat ut lacus convallis, tincidunt mattis justo aliquet. Donec magna leo, gravida eget scelerisque at, convallis nec tortor. Curabitur sed eros id nunc porta volutpat. Fusce massa arcu, tempor eu lacus non, sollicitudin pulvinar nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, orci eget faucibus pulvinar, metus arcu pharetra erat, vel dignissim turpis ipsum semper nisl. Aliquam malesuada vitae dui eget faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer ac nibh sodales, placerat arcu id, elementum nulla. Proin imperdiet tellus non ligula porta ultrices vitae sed lectus.
</p>
<p>
	Nunc cursus vehicula tincidunt. Aliquam erat volutpat. Proin quis turpis hendrerit, vestibulum odio ac, posuere ipsum. Phasellus maximus neque id felis mattis, convallis fringilla est bibendum. Curabitur eget tristique nibh. Duis sit amet diam quis mi tincidunt imperdiet. Aliquam aliquet ligula vitae mi rutrum interdum.
</p>
<p>
	Aliquam at leo neque. Vivamus lacinia tortor vitae sollicitudin molestie. Ut mauris sem, varius sit amet lacus commodo, mattis fringilla magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent sodales eu arcu nec ultrices. Duis semper neque quis sem facilisis, ac maximus justo iaculis. Aenean eget neque accumsan, hendrerit dui eu, ultricies lacus. In hac habitasse platea dictumst. In pellentesque urna a erat pulvinar varius.
</p>
	
</MyLayout>
