---
import MyLayout from '../layouts/MyLayout.astro';
const title = "Terms and Conditions"
const description = 'Here are our terms and conditions for using this website';
---
<MyLayout coverImage="/newcockpit-3x.jpg" title="Terms and Conditions">
  <div style={{ display: 'block'}}>
    <div class="hero hover:drop-shadow-lg" style={{ borderRadius: '1rem', 
                                    padding: '0.65rem', 
                                    backgroundColor: 'lightgrey',
                                    marginTop: '2rem', marginBottom: '4rem' }}>
        <p class="p-6" style  = {{ fontSize: '2.5rem', fontWeight: 'bold', textAlign: 'center' }}>
            Terms and Conditions for using this website and our services.   
        </p>
    </div>
    <p><strong>Terms of Use</strong>
      <br />
      <br />Use of this website/blog is offered to you on your acceptance of these Terms of Use, our Privacy Policy and other notices posted on this website. Your use of this website or of any content presented in any and all areas of the website indicates your acknowledgment and agreement to these Terms of Use, our Privacy Policy and other notices posted on this website. If you do not agree to be bound by and comply with all of the foregoing, you may not access the website. Fek.io has the right, at its sole discretion, to modify, add or remove any terms or conditions of these Terms of Use without notice or liability to you. Any changes to these Terms of Use shall be effectively immediately following the posting of such changes on this website.
      <br />
      <br />This website is for informational purposes only and is not intended to provide specific commercial, financial, investment, accounting, tax, or legal advice. It is provided to you solely for your own personal, non-commercial use. You may link to and refer to this website freely.
      <br />
      <br />This website does not guarantee the accuracy of any information and users cannot sue us for stupidly believing everything they read. Most of what is on this website are my personal ramblings and should be treated as such. Moreover, use of the word "ramblings" shall not constitute an insult to any users of this website or any person living or dead except Hitler. Accordingly, we do not guarantee the accuracy, timeliness, reliability or completeness of any of the information contained on, downloaded or accessed from this website.
      <br />
      <br />The performance of this website and all information contained on, downloaded or accessed from this website are provided to you on an "as is" basis, without warranties of any kind whatsoever, including any implied warranties or warranties of merchantability, fitness for a particular purpose or non-infringement of the rights of third parties. If something weird happens to your computer because you accessed this website, you cannot blame us in any way. We will tolerate one nasty note and nothing more. You are allowed other actions, legal or otherwise, only if you stand in the middle of the Central Park Zoo (NYC) naked and scream the words: "I am not insane. I can hear these animals begging to be released." You must do this for one hour or until your arrest.
      <br />
      <br />We reserve the right to modify, disable access to or discontinue, temporarily or permanently, any part or all of this website or any information contained thereon without liability or notice to you. We tell you this for no particular reason since you cannot do much about it anyway.
      <br />
      <br />As a visitor to our website, you acknowledge and agree that any reliance on or use by you of any information available on this website shall be entirely at your own risk. In no event shall Fek.io nor any of its data providers, friends, allies or hangers-on be liable for any direct, indirect, consequential or exemplary damages arising from the use or the performance of this website. And don't let the door hit you in the ass on your way out!
      <br />
      <br /><strong>Privacy Policy</strong>
      <br />
      <br />We do not do pop-ups and do not give a rat's ass about your personal information. And we are not going to protect it. If you are a jerk online and slander someone and they want your IP address they can have it. We're are not here to protect you from lawsuits. This may change, as noted above.
      <br />
      <br /><strong>Confidentiality and Transmissions over the Internet</strong>
      <br />
      <br />The transmission of data or information (including communications by e-mail) over the Internet or other publicly accessible networks is not secure, and is subject to possible loss, interception or alteration while in transit. Accordingly, we do not assume any liability for any damage you may experience or costs you may incur as a result of any transmissions over the Internet or other publicly accessible networks, such as transmissions involving the exchange of e-mail with us (including those which may contain your personal information). We don't care. We make no efforts to safeguard the privacy of the information you provide us, period. All submissions to this website via email or otherwise becomes our property to make life easier, on us. You accept this and live with it. It's too much work otherwise. In no event will the information you provide to us be deemed to be confidential, create any fiduciary obligations to you on our part, or result in any liability to you on our part in the event that such information is inadvertently released by us or accessed by third parties without our consent.
      <br />
      <br /><strong>User Conduct and Obligations</strong>
      <br />
      <br />You agree to follow all applicable laws and regulations when using this website and further agree that you will not transmit junk mail, chain letters, or other unsolicited bulk e-mail or duplicative messages to any email address listed on this site without agreeing to pay to David Fekke the sum of US$10,000 per item.
      <br />
      <br />By uploading, posting or otherwise transmitting through or to our website any content, you grant to us, our successors and assigns, a non-exclusive, world-wide, royalty free, perpetual, non-revocable licence to use or distribute such content in any manner otherwise than as stated in our Privacy Policy.
      <br />
      <br /><strong>Indemification by User</strong>
      <br />
      <br />&nbsp;You agree to indemnify, defend and hold us and our friends, spouses, children, and agents harmless from any loss, liability, claim, demand, damage, or expense (including any legal fees) asserted by any third party relating in any way to your use of this website or breach of these Terms of Use. We reserve the right to assume the exclusive defense and control of any matter subject to indemnification by you, which shall not excuse your indemnity obligations. In other words, find someone else to sue.
      <br />
      <br /><strong>Third Parties and Links</strong>
      <br />
      <br />As far as you are concerned links or pointers to other websites and references to products and services offered by third parties are provided to you for convenience only and do not constitute an endorsement or approval by us of (i) the organizations that operate such websites; (ii) the content, privacy policies or other terms of use on such websites; or (iii) such third party products and services. As we have no control or responsibility over websites or content maintained by other organizations, or for products and services offered by third parties, we do not assume any liability for your use of any of the foregoing, which use you acknowledge and agree shall be at your own risk.
      <br />
      <br /><strong>Proprietary Rights</strong>
      <br />
      <br />Our policy is to comply with all intellectual property laws and to act quickly upon receiving any notice of claimed infringement. If you believe that your work has been reproduced on this website in a manner that constitutes copyright infringement, please let us know immediately by sending email to davidfekke@gmail.com.
      <br />
      <br /><strong>General</strong>
      <br />
      <br />If any provision of these Terms of Use is held invalid or unenforceable in any respect by any court having competent jurisdiction, such provision shall be enforced to the maximum extent permitted by law, and the remaining provisions of these Terms of Use shall continue in full force and effect. No waiver of any provision of these Terms of Use shall be deemed a further or continuing waiver of such provision or any other provision of these Terms of Use.
      <br />
      <br />These Terms of Use shall be governed by and construed in accordance with the laws of the State of Florida and the laws of the United States of America. The parties consent to the exclusive jurisdiction at a place to be determined by fek.io at the last minute.</p>
  </div>
</MyLayout>
