
.listitem {
    margin: 0px 100px 30px 100px;
}


@media (max-width: 768px) {
    .listitem {
        margin: 0px 50px 30px 50px;
    }
}

@media (max-width: 500px) {
    .listitem {
        margin: 0px 10px 30px 10px;
    }
}