---
type Props = {
	title?: string;
	coverImage?: string;
}

const title = Astro.props.title || 'FEK.IO';
const coverImage = Astro.props.coverImage || '/mooney-3x.jpg';
const headerStyle = `mb-50px`;
---

<header class={headerStyle} style={`background-image: url('${coverImage.src}'); background-size: cover;`}>
  <div class="container mx-auto">
      <h1 class="flex text-white px-[50px] md:px-[100px] lg:px-[200px] text-3xl md:text-4xl lg:text-6xl font-black justify-center text-center drop-shadow-lg shadow-inner py-[50px] md:py-[100px] lg:py-[200px]">{title}</h1>
  </div>
</header>