---
const now = new Date();
import { Icon } from 'astro-icon/components';
// @iconify-json/fa6-solid
---
<footer class="bg-[#868e96] flex-grow">
  <div class="pt-1 pb-2 mx-auto container max-w-[1174px]">
    <div class="flex justify-center m-6 gap-4">
        <a href="https://x.com/davidfekke" target="_blank" rel="noopener noreferrer" aria-label="Twitter" style={{ textDecoration: 'none', color: 'black' }}><Icon name="simple-icons:x" width="24" height="24" /></a><!-- <RiTwitterXFill size={32} style={{ padding: '5px' }} /> -->
        <a href="https://www.facebook.com/David-Fekke-LLC-178889285498948/" target="_blank" rel="noopener noreferrer" aria-label="Facebook" style={{ textDecoration: 'none', color: 'black' }}><Icon name="simple-icons:facebook" width="24" height="24" /> </a><!-- <FaFacebook size={32}  style={{ padding: '5px' }} /> -->
        <a href="https://www.linkedin.com/in/davidfekke/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn" style={{ textDecoration: 'none', color: 'black' }}><Icon name="simple-icons:linkedin" width="24" height="24" /></a><!-- <FaLinkedin size={32}  style={{ padding: '5px' }} /> --> 
        <a href="https://github.com/davidfekke/" target="_blank" rel="noopener noreferrer" aria-label="GitHub" style={{ textDecoration: 'none', color: 'black' }}><Icon name="simple-icons:github" width="24" height="24" /></a><!-- <FaGithub size={32}  style={{ padding: '5px' }} />  -->
        <a href="https://www.youtube.com/davidfekke/" target="_blank" rel="noopener noreferrer" aria-label="YouTube" style={{ textDecoration: 'none', color: 'black' }}><Icon name="simple-icons:youtube" width="24" height="24" /></a><!-- <FaYoutube size={32}  style={{ padding: '5px' }} /> -->
    </div>
    <nav class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 m-6">
        <div>
            <ul>
                <li class="py-1">
                    <strong>Connect</strong>
                </li>
                <li class="py-1">
                    <a href="/blog/1">Blog</a>
                </li>
                <li class="py-1">
                    <a href="https://x.com/davidfekke">X</a>
                </li>
                <li class="py-1">
                  <a href="https://www.linkedin.com/in/davidfekke/">Linkedin</a>
                </li>
                <li class="py-1">
                  <a href="https://www.youtube.com/c/polyglotengineer">Youtube</a>    
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="py-1">
                    <strong>Products</strong>
                </li>
                <li class="py-1">
                  <a href="/products/idogyears">iDogYears</a>
                </li>
                <li class="py-1">
                  <a href="/products/ilottonum">iLottoNum</a>
                </li>
                <li class="py-1">
                  <a href="/products/icatyears">iCatYears</a>
                </li>
                <li class="py-1">
                  <a href="/products/jaxnode">JaxNode App</a>
                </li>
            </ul>                            
        </div>
        <div>
            <ul>
                <li class="py-1">
                    <strong>Sites</strong>
                </li>
                <li class="py-1">
                  <a href="https://www.youtube.com/channel/UC1TglgvYxS354qj7ZlmoUcA">Polyglot Engineer</a>

                </li>
                <li class="py-1">
                  <a href="https://www.jaxnode.com">JaxNode</a>
                </li>
                <li class="py-1">
                  <a href="https://www.swyftmobile.com">Swyft Mobile</a>
                </li>
                <li class="py-1">
                  <a href="https://www.github.com/davidfekke">Github</a>
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="py-1">
                    <strong>Pages</strong>
                </li>
                <li class="py-1">
                  <a href="/contact">Contact</a>
                </li>
                <li class="py-1">
                  <a href="/about">About</a>
                </li>
                <li class="py-1">
                  <a href="/terms">Terms and Conditions</a>
                </li>
                <li class="py-1">
                    <a href="/rss.xml">RSS Feed</a>
                </li>
            </ul>
        </div>    
    </nav>
    <!-- textAlign: 'center', fontSize: 'small', paddingTop: '1rem' -->
    <div class="flex justify-center">
        <p class="text-sm font-bold">Copyright {now.getFullYear()}, David Fekke</p>
    </div>
  </div>
</footer>