
.back {
    background-image: url(../pages/cardinal.jpg);
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
    margin: 0px 0px 50px 0px;
}

h1.myheadline {
    padding: 200px 0px 200px 0px;
    text-align: center;
    font-size: 4rem;
    font-weight: 1000;
    text-shadow: 2px 2px 5px black;
    margin: 0px 200px 0px 200px;
    color: #fff;
}