
body {
    margin: 0px;
    font-family: 'Open Sans, Helvetica';
}


/*
 style={{ display: 'grid', gridTemplateColumns: '1fr 1fr', gridGap: '15px' }}
*/

form {
    display: grid;
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin: 2rem 0px 2rem 0px;
    max-width: 600px;
    padding: 1em;
}

form input {
    background: #fff;
    border: 1px solid #9c9c9c;
}

form button {
    background-color: #337ab7;
    color: white; 
    border-radius: 3px; 
    font-size: 1rem;
    padding: 0.7em;
    width: 100%;
    border: 0;
}

form button:hover {
    background: #286090;
}

label {
    text-align: right;
    grid-column: 1 / 2;
}

input {
    padding: 0.7em;
    margin-bottom: 0.5rem;
}

@media (min-width: 400px) {
    form {
      grid-template-columns: 200px 1fr;
      grid-gap: 16px;
    }
  
    label {
      text-align: right;
      grid-column: 1 / 2;
    }
  
    input,
    button {
      grid-column: 2 / 3;
    }
  }