

.mainNavElement {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: aliceblue;
    opacity: 0.7;
    transition: top 0.5s;
    z-index: 999;
}

li.navbar {
    display: inline;
}

li.navbar > a {
    padding: 0.8rem; 
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

li.navbarlogo {
    display: inline; 
    padding-right: 10px;
}

li.navbarlogo > a > img {
    height: 22px;
    vertical-align: middle;
}

@media (max-width: 500px) { 

    li.navbar {
        display: block;
        margin: 10px;
    }
    
    li.navbar > a {
        padding: 0.2rem; 
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
    }

    li.navbarlogo {
        display: block;
        margin: 10px; 
        padding-left: 10px;
    }

}