---
type menuItem = {
  title: string;
  link: string;
}

const menuData: menuItem[] = [
    { title: 'Home', link: '/'},
    { title: 'Products', link: '/products' },
    { title: 'Blog', link: '/blog' },
    { title: 'About', link: '/about' },
    { title: 'Contact', link: '/contact' }
];
---

<nav class="bg-white/75 border-b transpa border-gray-200 sticky top-0 transition-all duration-300 shadow-xl">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div id="navbar" class="flex md:justify-start justify-between h-16 items-center">

          <!-- Logo -->
          <div class="flex-shrink-0 flex items-center">
              <a href="/" class="hover:bg-gray-800 logo transition-all duration-300"><img class="logo_image h-12 transition-all duration-300" src="/fekio.logo.svg" alt="JaxNode" /></a>
          </div>
  
          <!-- Desktop Menu -->
          <div class="hidden md:flex md:items-center">
            {menuData && menuData.map((item) => (
                <a href={item.link} class="px-3 py-2 font-bold text-gray-700">{item.title}</a>
            ))}
          </div>
  
          <!-- Mobile Menu Button -->
          <div class="md:hidden justify-items-center">
              <!-- Hamburger Icon -->
              <label for="menu-toggle" class="cursor-pointer">
                  <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                      <path d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
                  </svg>
              </label>
          </div>
      </div>
  </div>
  
  <!-- Hidden Checkbox (Sibling of Mobile Menu) -->
  <input type="checkbox" id="menu-toggle" class="hidden peer" />
  
  <!-- Mobile Menu -->
  <div class="peer-checked:block hidden md:hidden">
    {menuData && menuData.map((item) => (
        <a href={item.link} class="block px-4 py-2 text-gray-700">{item.title}</a>
    ))}
  </div>
</nav>

<!-- Write a script that will shrink the logo height once the user scrolls past 80 pixels -->
<script is:inline>
  const logo = document.querySelector('.logo_image');
  const navbar = document.querySelector('#navbar');
  window.addEventListener('scroll', () => {
      if (window.scrollY > 80) {
          logo.classList.remove('h-12');
          logo.classList.add('h-8');
          navbar.classList.remove('h-16');
          navbar.classList.add('h-12');
      } else {
          logo.classList.remove('h-8');
          logo.classList.add('h-12');
          navbar.classList.remove('h-12');
          navbar.classList.add('h-16');
      }
  });
</script>
