---
import MyLayout from '../../layouts/MyLayout.astro';
import PageH1 from '../../components/PageH1.astro';
import products from '../../data/products.json';

const iCatYears = products.filter(item => item.name === 'iCatYears')[0];
const title = "Welcome to FEK.IO"
const description = '';
---
<MyLayout coverImage='/garmin-3x.jpg' title="iCatYears">
  <PageH1>{iCatYears.name}</PageH1>
  <div class="bg-white">
    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>

    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>

    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>

    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>

    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>

    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>

    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>

    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>
  </div>
</MyLayout