---
import MyLayout from '../../layouts/MyLayout.astro';
import PageH1 from '../../components/PageH1.astro';

const title = "Welcome to FEK.IO"
const description = 'Products';
---
<MyLayout coverImage="garmin-3x.jpg" title="Products">
  <PageH1>Products</PageH1>
  <div class="bg-white">
    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>

    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>

    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>

    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>

    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>

    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>

    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>

    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>


    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>

    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>

    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>

    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>

    <p class="pt-6 pb-6">We have a wide range of products to choose from. Check out our selection below:</p>
  </div>
</MyLayout>